h3.deposit_money_rebate {
    display: none;
}
#deposit_money_rebate {
    display: none;
}
.bannerStaticwrp a, .bannerInfo a, .footer-Wrp a {
    color: #007bff !important;
}
.registration_wrp {
    padding: 50px;
}
.messageHiderefresh {
    position: absolute;
    top: 33px;
    right: 25%;
    background: #000;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 15px;
    display: none;
    z-index: 9999;
}
.messageHiderefreshicon {
    display: none;
    position: absolute;
    top: 24%;
    right: 5%;
    background: #000;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 15px;
    display: none;
    z-index: 9999;
}
.registration_wrp h2 {
    text-align: center;
}
form {
    padding: 5px 25px;
}
.form-control {
    border: 1px solid #e9eaec;
    background-color: #eaeef1;
    color: #000;
}

input#regisnSubmit {
    /*width: 100%;*/
    background-color: #00c18b;
    color: #fff;
    font-size: 18px;
    border: 1px solid #01b085;
    font-weight: 500;
}
.l-header .logo {
    height: 90px;
}
.l-header .logo {
    width: 100% !important;
    height: 95px;
    float: left;
    background-image: url(../images/logo_small.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
}
.clear {
    clear: both;
}
.login-wrap {
    width: 100%;
    margin: 0 auto;
    height: 82%;
    position: relative;
}
.login-box {
    background-color: #fff;
    margin: 0 auto;
    color: #fff;
    max-width: 320px;
    width: 92%;
    position: relative;
    margin-left: auto;
    max-width: 880px!important;
    padding: 52px 30px 10px 30px!important;
}
.login-box .main-icon {
    background-image: url(../images/preciso_ico.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-size: 70%;
}
.main-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 6px solid #fff;
    border-radius: 50%;
    background-color: #eaeef1;
    font-size: 140px;
    color: #01a8df;
    top: -44px;
    left: 53%;
    margin-left: -70px;
    text-align: center;
    padding-top: 12px;
    overflow: hidden;
}
label {
    color: #000;
}
.login-box .main-icon .fa {
    display: none;
}
span.star {
    color: red;
    font-size: 13px;
}
.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 99999999999!important;
    background-size: 120px 120px;
}
.api-loader {
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
}
.form-group p {
    color: red;
}
.emailerror,.domainerror,.programerror,.storeerror,.contacterror,.regionerror,.lanuageerror,.currencyerror,.channelerror,.maxcpmerror,.dailylBudget,.fcaperror,.pcerror,.pverror,.totalbudegeterror,.durationerror,.strategyerror,.campaignerror,.budegeterror {
    color: red;
    position: absolute;
    font-size: 12px;
    display: none;
}
.failedalert {
    background-color: rgba(48, 48, 48, 0.95);
}
.successalert {
    background-color: rgba(48, 48, 48, 0.95);
}
.green-box {
    background-color: #3CA5E5!important;
    overflow: hidden;
    position: relative;
}
.customalert {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    display: none;
}
.customalert-inner {
    position: fixed;
    top: 0px;
    width: 50%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    left: 25%;
}
.customalert-inner-div {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
    background-color: #fff;
    padding-bottom: 15px;
}
.customalertheader {
    background-color: #00c18b;
    color: #fff;
    font-size: 90px;
    padding: 0px 0px;
}
.red-box {
    background-color: #b3152c!important;
}
.customalert-inner p {
    color: #1f1f1f;
    font-weight: 500;
    padding: 15px;
    font-size: 20px;
}
.customalert-inner p span {
    color: #000;
    font-weight: 400;
    font-size: 14px;
}
.btn {
    padding: 5px 10px;
}
.btn-red {
    background-color: #b3152c;
    color: #fff;
    font-weight: 300;
}
.btn-green {
    background-color: #00c18b;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid #01b085;
}
.appError {
    text-align: center;
    max-width: 580px;
    margin: 120px auto;
}
.error_Wrp .fa.fa-times-circle {
    color: red;
    font-size: 80px;
}
.copy-block .copied {
    position: absolute;
    color: #6dab3c;
    font-weight: bold;
    z-index: 99;
    width: auto;
    display: none;
    left: 115px;
}
.copy-block .inside-text-copy {
    padding: 30px;
    margin-top: 30px;
    border: 2px solid rgba(234, 198, 19, 0.25098039215686274);
    background: #dcdcdc;
    color: red;
}
.notice p {
    line-height: 1.5625rem;
    color: #4c4b58;
    font-size: 15px;
}
h4#access, .notice h4 {
    margin-bottom: 25px;
    letter-spacing: .3px;
    font-family: 'source_sans_prosemibold',Arial,sans-serif;
    color: #6d6e7a;
    margin-top: 25px;
}
.notice a {
    color: #007bff;
    text-decoration: underline !important;
}
.notice img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.notice strong {
    font-weight: 600;
}
button.btn.btn-green.deletebanner {
    background: #ff0000ab;
    margin-left: 10px;
}
.btn-greenalt {
    background-color: #00c18b;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid #01b085;
}
.failedalertbanner, .successalertbanner {
    background-color: rgba(48, 48, 48, 0.95);
}
.customalert {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    display: none;
}
form#updateSettings {
    padding: 0px !important;
}
.hover_bkgr_fricc {
    background: rgba(0,0,0,.4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: 550px;
    max-width: 768px;
    min-height: 100px;
    vertical-align: middle;
    width: 76%;
    position: relative;
    border-radius: 8px;
    padding: 40px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    line-height: 30px;
    width: 36px;
    height: 36px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    display: inline-block;
    font-weight: 400;
}
.productImg {
    display: inline-block;
    float: left;
    width: 25%;
}
.productImg img {
    height: 50px;
}
.productTitle {
    display: inline-block;
    float: left;
    width: 75%;
}
.productTitle h3 {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 14px;
    font-size: 19px;
}
.banner-wrp-top {
    height: 225px;
    overflow-y: scroll;
}
.form-wrp {
    display: flex;
    padding: 10px 0 0 0;
}
.form-wrp label {
    width: 25%;
    margin: 3px 8px;
    text-align: right;
}
.form-wrp .form-control {
    height: 25px;
    width: 75%;
}
.dynamicbannercreate {
    margin-top: 10px;
}
button.btn.btn-green.deletebanner {
    background: #ff0000ab;
    margin-left: 10px;
}
.failedalertbanner,.successalertbanner {
    background-color: rgba(48, 48, 48, 0.95);
}
textarea#contactAddress {
    height: 90px !important;
}

.registration_wrp textarea#contactAddress
{
    height: 55px !important;
}
.page-footer-content.row {
    display: block;
}
body {
    font-size: 1.4rem !important;
}
.form-group {
    margin-bottom: 3rem !important;
}

.registration_wrp .form-group {
    margin-bottom: 15px !important;
}
.login-wrp {
    margin-bottom: 4%;
    margin-top: 4%;
}
.page-footer {
    padding: 2.6rem 2rem 5rem 11rem !important;
}
tr.data-show.active td {
    background-color: #00a8e1 !important;
    color: #fff;
    padding-bottom: 20px !important;
}

.data-show td {
    padding-bottom: 20px !important;
}
span.alert_note {
    color: #1b507f;
    margin-left: 2%;
    font-size: 14px;
}
.submit_wrp {
    text-align: center;
       width:100%;
       margin-top:10px;
}
input#regisnSubmit
{
    width: 25%;
    max-width: 205px;
    line-height: 30px;
    border-radius: 4px;
}
#createbanner .form-wrp {
    display: block;
    padding: 3px;
    width: 50%;
    float: left;
}
#createbanner .form-wrp label {
    width: 100%;
    margin: 0px;
    text-align: left;
}
#createbanner .form-wrp .form-control {
    height: 25px;
    width: 100%;
    float: left;
    display: block;
}
.hover_bkgr_fricc > div {
    overflow-y: visible!important;
    height: auto!important;
    padding: 22px 2%!important;
}

input#updatesettingSubmit {
    border: none !important;
    font-size: 14px;
    padding: 5px 10px;
    background: #3CA5E5;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #3CA5E5;
}

input#updatesettingSubmit:hover {
 cursor: pointer; 
 background: #1b507f;
 border: 1px solid #1b507f;;
}
p.totalBUDGETMore {
    color: red;
    display: none;
   /* position: absolute;*/
   font-size:12px;
}
p.totalBUDGETMore
{
  /*  width: 30%;*/
}
a.editbannerbtn, button.btn.btn-green.editbanner {
    color: #fff;
    background-color: #174f71;
    padding: 7px 10px;
    font-weight: 500;
    font-size: 11px;
    border-radius: 3px;
    margin-left: 10px;
}
button.btn.btn-green.deletebanner {
    background: #ff0000ab;
    margin-left: 10px;
    border: 1px solid #ff0000ab;
}
button.bannerpaused:hover {
    background-color: #af901e;
}
.btn-green:hover, .btn-green.active {
    background-color: #1b507f;
    color: #fff!important;
    border: 1px solid #1b507f;
}
.btn-green:hover, .btn-green.active {
    background-color: #09a177;
    color: #fff!important;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
button.bannerpaused, button.btncampaignpaused.btn.btn-green {
    background-color: #af901e;
    margin-left: 10px;
}
.bannerCode .bannnerIframeWrap.active {
    display: inline;
    position: fixed;
    width: auto;
    height: auto;
    text-align: center;
    left: 40%;
    top: 30%;
    z-index: 99;
    padding-top: 4px;
    box-sizing: border-box;
}
.bannnerIframeWrap.active button.btn.btn-green.bannerClose {
    opacity: 1;
    position: absolute;
    right: 0px;
    background-color: #000000b0;
    border-color: #000000b0;
    top: 0;
}
button.pausebanner {
    background-color: #af901e;
    margin-left: 10px;
}
.edit_banner_popup{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    left: 0;
    width:100%;
    z-index:10000;
}
.edit_banner_popup .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.edit_banner_popup > div {
       background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: 360px;
    max-width: 768px;
    min-height: 100px;
    vertical-align: middle;
    width: 76%;
    position: relative;
    border-radius: 8px;
    padding: 40px 5%;}


    
.popupCloseButton_editbanner {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    line-height: 30px;
    width: 36px;
    height: 36px;
    text-align: center;
}
.popupCloseButton_editbanner:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    display: inline-block;
    font-weight: 500;
  }

  input#dynamicbanneredit {
    background-color: #3CA5E5;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid #3CA5E5;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

button.btn.btn-green.bannerClose {
    position: absolute;
    right: 0px;
    background-color: #000000b0;
    border-color: #000000b0;
}
.customalert {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    display: none;
    background-color: rgba(48,48,48,.95);
}

#dynamicbannercreate {
    color: #fff;
    background-color: #3ca5e5;
    border: #3ca5e5;
    padding: 5px 20px;
    cursor: pointer;
}
.btn-greenalt {
    background-color: #3CA5E5;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid #3CA5E5;
}
.btn-red:hover {
    background-color: #d61a35;
    color: #fff!important;
}
.btn-red {
    background-color: #b3152c;
    color: #fff;
    font-weight: 300;
}
button.btn.btn-greenalt.bannerdeletesuccess, button.btn.btn-greenalt.bannerdeletesuccess:hover,
button.btn-greenalt.successcreatebtnbanner, button.btn-greenalt.successcreatebtnbanner:hover  {
    background-color: #3ca5e5;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid #3ca5e5;
}
.rightHeader a:hover, .rightHeader a:focus {
    color: #fff !important;
}
.rightHeader .remainingBalance {
    font-weight: 500 !important;
}
.rightHeader a {
    color: white;
    font-weight: 500;
}
.specialbutton {
    width: 10px;
    height: 19px;
    position: absolute;
    right: -11px;
    top: 26px;
    font-size: 20px;
    transform: rotate(
135deg);
    cursor: pointer;
}
.specialbutton > span{
    transform: rotate(-135deg);
    display: block;
    background: #000;
    width: 120px;
    border-radius: 8px;
    height: 18px;
    color: #fff;
    position: relative;
    top: 65px;
    right: 50px;
    font-size: 11px;
    text-align: center;
  }
  .specialbutton > span span{
    position: relative;
    background: #000;
    width: 10px;
    height: 10px;
    bottom: 3px;
    display: block;
    transform: rotate(45deg);
    left: 86px;
  }
  .tab-pane.enhanced{
    position: absolute!important;
    top: 0px!important;
    background: #ececef!important;
    left: 0px!important;
    width: 100%!important;
    padding-top: 30px!important;
    padding: 0 20px 0 20px;
    z-index: 99999 !important;
}

/*lool and feel*/
.section-wrp h6.section-title.h1{
    font-size: 20px!important;
    font-weight: 600!important;
}
.header .rightHeader {
    margin: 8px 20px;
    position:relative;
}

.header, .header img {
    height: 40px !important;
}
.header img {
   margin-left:5px;
}
.header {
    min-height: 42px !important;
}
.pageRefresh img {
    height: 20px !important;
}
a:hover, a:focus {
    color: #000 !important;
}
body {
    margin: 0;
    padding: 0;
    font-size: 12px !important;
    background-color: #fff!important;
    font-family: montserrat,sans-serif;
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}
h2.paymentDetailsHead {
    font-size: 12px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    font-weight: 500 !important;
}
div#deposit_money_rebate {
    position: relative!important;
    top: -3px!important !important;
}
div#deposit_money_rebate {
    background-color: #F4F6F8 !important;
    display: inline-block !important;
    width: 70% !important;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative !important;
    width: 100% !important;
    min-height: 1px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}
* {
    outline: none!important;
}
h3.priceWrp {
    display: inline-block !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin: 0px 10px 0px 0px!important;
}
table#mytable{
    width: 100% !important;
    font-weight: 300!important;
    margin: 0 0 0 1% !important;
    margin: 0 !important;
}
table#mytable tr th {
    font-size: 13px!important;
}
table#mytable tr td {
    font-size: 16px !important;
}
.register_wrp h2 {
    font-size: 18px !important;
    font-weight: 600 !important;
    border-bottom: 1px solid #eeeeef;
    padding-bottom: 10px !important;
}
.form-control[readonly], fieldset[readonly] .form-control {
    background-color: #dcdcdc !important;
    color: #525252 !important;
}
form#updateSettings .offset-right10 .form-control {
    background-color: #fff !important;
    color: #000 !important;
}
div#nav-home h4 {
    font-size: 24px !important;
}
.content-box {
    background-color: #fff !important;
    padding: 20px 10px !important;
    margin: 5px !important;
    margin-bottom: 10px !important;
    text-align: center!important;
}
.section-wrp {
    padding: 10px 15px !important;
    background: #f4f6f8 !important;
}
section#tabs {
    padding: 10px 15px !important;
    background: #f4f6f8 !important;
}
.footer-Wrp {
    background: #fff !important;
 }

.customalert.failed_exist_alert {
    background-color: rgba(48, 48, 48, 0.95);
}
.customalert.incorect_password_alert {
    background-color: rgba(48, 48, 48, 0.95);
}
.customalert1{
    display: block!important;
    position: fixed;
    top: 0px;
    width: 94.5%;
    height: 100%;
    display: none;
    margin: auto;
    right: 0;
    margin-right: 0;
}
.customalert1.successalert{
    height: fit-content !important;
    width: 100% !important;
    position: relative !important;
    padding: 90px !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #fff !important;
    background: #fff !important;
}
.customalert1.successalert .customalert-inner{
    position: relative !important;
    bottom: 80px !important;
    background: none !important;
    background-color: none !important;
    width: 50% !important;
    height: auto !important;
    margin: auto !important;
    margin: auto !important;
    right: 0 !important;
    left: 0 !important;
}
.customalert1.successalert .customalert-inner p span {
    color: #000 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
}