.failedalert {
  background-color: rgba(48, 48, 48, 0.95);
}

.successalert {
  background-color: rgba(48, 48, 48, 0.95);
}

.green-box {
  background-color: #00c18b!important;
  overflow: hidden;
  position: relative;
}

.customalert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  display: none;
}

.customalert-inner {
  position: fixed;
  top: 0px;
  width: 50%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  left: 25%;
}

.customalert-inner-div {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
  background-color: #fff;
  padding-bottom: 15px;
}

.customalertheader {
  background-color: #00c18b;
  color: #fff;
  font-size: 90px;
  padding: 0px 0px;
}

.red-box {
  background-color: #b3152c!important;
}

.customalert-inner p {
  color: #1f1f1f;
  font-weight: 500;
  padding: 15px;
  font-size: 20px;
}

.customalert-inner p span {
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

.btn {
  padding: 5px 10px;
}

.btn-red {
  background-color: #b3152c;
  color: #fff;
  font-weight: 300;
}

.btn-green {
  background-color: #00c18b;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  border: 1px solid #01b085;
}

#loginSubmit {
  width: 100%;
  color: #fff;
  background-color: #00c18b;
  border: none;
}

.login-wrap {
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: relative;
}

.login-box {
  background-color: #fff;
  padding: 85px 40px 40px 40px;
  margin: 0 auto;
  color: #fff;
  max-width: 410px;
  width: 92%;
  position: relative;
  margin-left: auto;
}

.login-box a {
  color: #00c18b !important;
  padding: 0px!important;
  line-height: normal!important;
  font-size: inherit!important;
  font-weight: 300;
}

.login-box a:focus {
  color: #00c18b !important;
}

.form-elem-wrap a:hover {
  color: #00c18b !important;
}

.login-box .main-icon {
  background-image: url(../images/kiaro.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.main-icon {
  position: absolute;
  width: 140px;
  height: 140px;
  border: 6px solid #fff;
  border-radius: 50%;
  background-color: #eaeef1;
  font-size: 140px;
  color: #01a8df;
  top: -70px;
  left: 50%;
  margin-left: -70px;
  text-align: center;
  padding-top: 12px;
  overflow: hidden;
}

.login-box .main-icon .fa {
  display: none;
}

.login-wrap .fa {
  top: -21px;
  position: relative;
}

.login-box .form-elem-wrap {
  padding: 5px 0px;
  clear: both;
}

.login-box .btn {
  border-radius: 0px;
  padding: 10px 5px;
  font-size: 15px;
}

.btn-green {
  background-color: #00c18b;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  border: 1px solid #01b085;
}

.login-box .form-control {
  border-radius: 0px;
  width: 100%;
  border: 1px solid #e9eaec;
  background-color: #eaeef1;
  border-radius: 1px;
  height: 38px;
}

.l-header .logo {
  width: 100%;
  height: 160px;
  margin-bottom: 50px;
  float: left;
  background-image: url(../images/logico.png);
  background-repeat: no-repeat;
  background-position: center center;
}

form {
  padding: 25px;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 99999999999!important;
  background-size: 120px 120px;
}

.api-loader {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
}

.appError {
  text-align: center;
  max-width: 580px;
  margin: 120px auto;
}

.error_Wrp .fa.fa-times-circle {
  color: red;
  font-size: 80px;
}
p.passwordnotmatch {
  color: red;
  text-align: center;
  display: none;
}