@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700');
@import url(font-awesome.css);
body {
    margin: 0px;
    padding: 0px;
    font-size:12px;
    background-color: #fff!important;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
*{
    outline:none!important;
}
p, ul, li, h1, h2, h3, h4, h5, h6 {
    padding:0px;
    list-style-type: none;
    font-weight:300;
    margin:0px;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}

.clear {
    clear:both;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #1b507f!important;
    color: #fff!important;
    border: 0px solid #1b507f!important;
    background-image: url(../images/rightarrow.jpg), url(../images/leftarrow.jpg) !important;
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
}

.nav-fill .nav-item {
    color: #403939!important;
}
.nav-tabs .nav-link {
    border: 0px solid #d4d4d4!important;
    border-radius: 0!important;
    background-image: url(../images/defaultright.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #f4f6f8;
    background-size: auto 100%;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
}
.nav-tabs .nav-link{
    background-image: url(https://apppartner.logico3c.com/bigcommerce-test/templates/images/defaultright.jpg) !important;
}