/*
 * Logico plugin main CSS
*/

body.toplevel_page_logico-show {
  background: #eaeef1 !important;
}

.login-box label {
  font-weight: unset;
}

.toplevel_page_logico-show .login-box .form-control {
  border: 1px solid #e9eaec !important;
  background-color: #eaeef1 !important;
  color: #000 !important;
}

.registration_wrp {
  padding: 50px;
}

.registration_wrp h2 {
  text-align: center;
}

form {
  padding: 5px 25px;
}

.form-control {
  border: 1px solid #e9eaec;
  background-color: #eaeef1;
  color: #000;
}

.submit_wrp {
  text-align: center;
}

input#regisnSubmit {
  /*width: 25%;*/
  margin-left: 15px;
  background-color: #1b507f;
  color: #fff;
  font-size: 16px;
  border: 1px solid #1b507f;
  font-weight: 500;
}
input#regisnSubmit:hover{
  cursor: pointer;
}

.l-header .logo {
  height: 90px;
}

.l-header .logo {
  width: 100% !important;
  height: 95px;
  float: left;
  background-image: url(../images/logico.png) !important;
  background-repeat: no-repeat;
  background-position: center center;
}

.clear {
  clear: both;
}

.login-wrap {
  width: 100%;
  margin: 0 auto;
  height: 82%;
  position: relative;
}

.login-box {
  background-color: #fff;
  margin: 0 auto;
  color: #fff;
  max-width: 320px;
  width: 92%;
  position: relative;
  margin-left: auto;
  max-width: 880px!important;
  padding: 52px 30px 10px 30px!important;
}

.login-box .main-icon {
  background-image: url(../images/kiaro.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.main-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 6px solid #fff;
  border-radius: 50%;
  background-color: #eaeef1;
  font-size: 140px;
  color: #01a8df;
  top: -44px;
  left: 53%;
  margin-left: -70px;
  text-align: center;
  padding-top: 12px;
  overflow: hidden;
}

label {
  color: #000;
}

.login-box .main-icon .fa {
  display: none;
}

span.star {
  color: red;
  font-size: 13px;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 99999999999!important;
  background-size: 120px 120px;
}

.api-loader {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
}

.form-group p {
  color: red;
}

.emailerror,
.domainerror,
.programerror,
.storeerror,
.contacterror,
.regionerror,
.lanuageerror,
.currencyerror,
.channelerror,
.maxcpmerror,
.dailylBudget,
.fcaperror,
.pcerror,
.pverror,
.totalbudegeterror,
.durationerror,
.strategyerror,
.campaignerror,
.budegeterror {
  color: red;
  position: absolute;
  font-size: 12px;
  display: none;
}

.failedalert {
  background-color: rgba(48, 48, 48, 0.95);
}

.successalert {
  background-color: rgba(48, 48, 48, 0.95);
}

.green-box {
  background-color: #3CA5E5!important;
  overflow: hidden;
  position: relative;
}

.customalert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  display: none;
}

.customalert-inner {
  position: fixed;
  top: 0px;
  width: 50%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  left: 25%;
}

.customalert-inner-div {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
  background-color: #fff;
  padding-bottom: 15px;
}

.customalertheader {
  background-color: #00c18b;
  color: #fff;
  font-size: 90px;
  padding: 0px 0px;
}

.red-box {
  background-color: #b3152c!important;
}

.customalert-inner p {
  color: #1f1f1f;
  font-weight: 500;
  padding: 15px;
  font-size: 20px;
}

.customalert-inner p span {
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

.btn {
  padding: 5px 10px;
}

.btn-red {
  background-color: #b3152c;
  color: #fff;
  font-weight: 300;
}

.btn-green {
  background-color: #00c18b;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  border: 1px solid #01b085;
}

.appError {
  text-align: center;
  max-width: 580px;
  margin: 120px auto;
}

.error_Wrp .fa.fa-times-circle {
  color: red;
  font-size: 80px;
}

.failedalert {
  background-color: rgba(48, 48, 48, 0.95);
}

.successalert {
  background-color: rgba(48, 48, 48, 0.95);
}

.green-box {
  background-color: #3CA5E5!important;
  overflow: hidden;
  position: relative;
}

.customalert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  display: none;
}

.customalert-inner {
  position: fixed;
  top: 0px;
  width: 50%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  left: 25%;
}

.customalert-inner-div {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
  background-color: #fff;
  padding-bottom: 15px;
}

.customalertheader {
  background-color: #00c18b;
  color: #fff;
  font-size: 90px;
  padding: 0px 0px;
}

.red-box {
  background-color: #b3152c!important;
}

.customalert-inner p {
  color: #1f1f1f;
  font-weight: 500;
  padding: 15px;
  font-size: 20px;
}

.customalert-inner p span {
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

.btn {
  padding: 5px 10px;
}

.btn-red {
  background-color: #b3152c;
  color: #fff;
  font-weight: 300;
}

.btn-green {
  background-color: #00c18b;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  border: 1px solid #01b085;
}

.login-wrap {
  margin-top: 15px !important;
}

form#target {
  margin-top: 15px;
} 

#loginSubmit {
  width: 100%;
  color: #fff;
  background-color: #1b507f;
  border: none;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

#loginSubmit:hover{
  cursor: pointer;
}

.login-wrap {
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: relative;
}

.login-box {
  background-color: #fff;
  padding: 85px 40px 40px 40px;
  margin: 0 auto;
  color: #fff;
  max-width: 410px;
  width: 92%;
  position: relative;
  margin-left: auto;
}

.login-box a {
  color: #00c18b !important;
  padding: 0px!important;
  line-height: normal!important;
  font-size: inherit!important;
  font-weight: 300;
}

.login-box a:focus {
  color: #00c18b !important;
}

.form-elem-wrap a:hover {
  color: #00c18b !important;
}

.login-box .main-icon {
  background-image: url(../images/kiaro.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.main-icon {
  position: absolute;
  width: 140px;
  height: 140px;
  border: 6px solid #fff;
  border-radius: 50%;
  background-color: #eaeef1;
  font-size: 140px;
  color: #01a8df;
  top: -70px;
  left: 50%;
  margin-left: -70px;
  text-align: center;
  padding-top: 12px;
  overflow: hidden;
}

.login-box .main-icon .fa {
  display: none;
}

.login-wrap .fa {
  top: -21px;
  position: relative;
}

.login-box .form-elem-wrap {
  padding: 5px 0px;
  clear: both;
}

.login-username {
  padding-left: 40px!important;
  background-image: url(../images/username.jpg);
  background-repeat: no-repeat;
  background-position: left center;
}

.login-password {
  padding-left: 40px!important;
  background-image: url(../images/password.jpg);
  background-repeat: no-repeat;
  background-position: left center;
}

.login-box .btn {
  border-radius: 0px;
  padding: 10px 5px;
  font-size: 15px;
}

.btn-green {
  background-color: #00c18b;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  border: 1px solid #01b085;
}

.login-box .form-control {
  border-radius: 0px;
  width: 100%;
  border: 1px solid #e9eaec;
  background-color: #eaeef1;
  border-radius: 1px;
  height: 38px;
}

.l-header .logo {
  width: 100%;
  height: 160px;
  margin-bottom: 50px;
  float: left;
  background-image: url(../images/logico.png);
  background-repeat: no-repeat;
  background-position: center center;
}

form {
  padding: 4px;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 99999999999!important;
  background-size: 120px 120px;
}

.api-loader {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
}

.appError {
  text-align: center;
  max-width: 580px;
  margin: 120px auto;
}

.error_Wrp .fa.fa-times-circle {
  color: red;
  font-size: 80px;
}

.custom_loginbox {
  max-width: 470px !important;
}

/* header CSS */
.header {
  background-color: #022a3a;
  min-height: 60px;
}

.leftHeader {
  display: inline-block;
}

.rightHeader a {
  color: white;
}

.rightHeader {
  float: right;
  margin: 18px 20px;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 99999999999!important;
  background-size: 120px 120px;
}

.api-loader {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
}

input#updatesettingSubmit {
    border: none !important;
    float: left !important;
    font-size: 14px;
    padding: 5px 10px;
    background: #3CA5E5;
    color: #fff;
    float: right;
    font-weight: 500;
}

.wp-core-ui select{
  max-width: unset !important;
  background-size: unset !important;
}

.wp-menu-image.dashicons-before img{
    width: 25px !important;
    margin-top: -4px !important;
}
div#deposit_money_rebate {
    background-color: #F4F6F8;
    display: inline-block;
    width: 70%;
}

.mr-b0 {
  margin-bottom: 6px !important;
  border: 7px solid #3CA5E5;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.usererror, .passerror {
  display: none;
}

.section-title span {
  color: #1b507f;
  font-size: 30px;
  font-weight: 500;
}

/*div#nav-tabContent {
    background-color: #fff;
}*/